{% extends 'layout.html' %} 

{% block title %} 
Commerce
{% endblock %} 

{% block body %} 
<div id="listings">
    <ul>
        {% for listing in listings %}
        <li>
            <a href='{% url "auction:listing" listing.id %}'><h2>{{ listing.title }}</h2></a>
            <h4> 
            Starting Price: {{ listing.starting_price }}<br/>
            Description: {{ listing.description }}
            </h4>
        </li>
        {% empty %}
            <li>No Active Listings are available at the moment!</li>
        {% endfor %}
    </ul>
</div>
{% endblock %} 
