{% extends 'layout.html' %} 

{% block title %} 
Commerce
{% endblock %} 

{% block body %} 
<div id="listings">
    <ul>
        {% for listing in listings %}
        <li>
            <a href='{% url "auction:listing" listing.id %}'>{{ listing.title }}</a><br/> 
            {{ listing.description }}<br/> 
            {{ listing.starting_price }} 

        </li>
        {% empty %}
            <li>No Active Listings are available at the moment!</li>
        {% endfor %}
    </ul>
</div>
{% endblock %} 
