<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock %} 
        </title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'Auction/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div style="margin-top: 10px; margin-left: 20px;">
        <h1>Auctions</h1>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username|title }}</strong>
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
            <a class='nav-link' href="{% url 'index' %}">Home Page</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href='{% url "auction:active_index" %}'>Active Listings</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{% url 'auction:category_list' %}">Categories</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href='{% url "auction:create_listing" %}'>Create Listing</a>
        </li>
            {% if user.is_authenticated %} 
            <li class="nav-item">
                <a class='nav-link' href="{% url 'auction:watchlist' %}">Watchlist</a>
            </li>
            <li class="nav-item">
            <a class='nav-link' href="{% url 'auction:logout' %}">Log Out</a>
            </li>
            {% else %} 
            <li class="nav-item">
            <a class='nav-link' href="{% url 'auction:login' %}">Log In</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{% url 'auction:register' %}">Register</a>
        </li>
            {% endif %}
        <li class="nav-item">
        <form class="d-flex" method="post" action="{% url 'auction:search' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name='q' placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </li>
    </ul>
    <hr>
        {% block body %}
        {% endblock %} 
    </body>

</html>