<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock %} 
        </title>
        <h1>Auctions</h1>
            {% if user.is_authenticated %}
            <h3>
                Signed in as {{ user.username }}
            </h3>
            {% endif %}
        <div id="nav">
            <a href="{% url 'index' %}">Home Page</a>
            <a href='{% url "auction:index" %}'>Active Listings</a>
            <a href='{% url "auction:create_listing" %}'>Create Listing</a>
            {% if user.is_authenticated %} 
            <a href="{% url 'auction:logout' %}">Log Out</a>
            {% else %} 
            <a href="{% url 'auction:login' %}">Log In</a>
            {% endif %}
        </div>
    </head>
    <body>
        {% block body %}
        {% endblock %} 
    </body>

</html>