{% extends 'layout.html' %} 

{% block title %}  
Listing {{ listing.id }} 
{% endblock %}  


{% block body %} 
{% if listing.image.url %} 
<div id="image">
<img src="{{ listing.image.url }}" width='300' height="200">
</div>
{% else %}
<h3>No Image available for this Listing!</h3>
{% endif %}
<ul>
<li><h2>{{ listing.title }}</h2></li>
<h4>
<li>Starting Price: {{ listing.starting_price }}</li>
<li>Description: {{ listing.description }}</li>
</h4>
</ul>
{% if request.user.is_authenticated and request.user == listing.user %}
<a href="{% url 'auction:edit_listing' listing.id %}"><button>Edit</button></a>
<a href="{% url 'auction:delete_listing' listing.id %}"><button>Delete</button></a>
{% endif %}
{% endblock %}