{% extends 'layout.html' %} 

{% block title %}  
Listing {{ listing.id }} 
{% endblock %}  


{% block body %} 
{% load static %}
<div class="container py-2">
{% if listing.image %} 
<div id="image">
<img src="{{ listing.image.url }}" class="card-img-top img-fluid">
</div>
{% else %}  
<img src="{% static 'Auction/no_image.jpg' %}" class="card-img-top img-fluid">
{% endif %}
<h2>{{ listing.title }}</h2>
<h5>
Starting Price: {{ listing.starting_price }}
</h5>
<h6>
{{ listing.description }}
</h6>
<br/>
{% if request.user.is_authenticated and request.user == listing.user %}
<a class="btn btn-primary" href="{% url 'auction:edit_listing' listing.id %}">Edit</a>
<a class='btn btn-primary' href="{% url 'auction:delete_listing' listing.id %}">Delete</a>
{% endif %}
</div>
{% endblock %}