{% extends 'layout.html' %} 

{% block title %} 
Watchlist
{% endblock %} 

{% block body %} 


{% load static %}
<style>
    body{
        padding: 1rem 1rem;
    }
    .image-parent {
        max-width: 200px;
    }
</style>
<div class="container"> 
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-12">
            <h6 class="text-muted">Watchlist</h6>
            <ul class="list-group">
                {% for listing in watchlist %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href='{% url "auction:listing" listing.id %}'>
                            {{ listing.title }}<br/>
                        </a>
                        {{ listing.description }}<br/>
                        <b>Starting Price: {{ listing.starting_price }}</b>
                        <div class="image-parent">
                        {% if listing.image %} 
                            <img src="{{ listing.image.url }}" class="img-fluid">
                            {% else %}  
                            <img src="{% static 'Auction/no_image.jpg' %}" class="img-fluid">
                            {% endif %}
                        </div>
                        {% empty %} 
                            No Listings in the Watchlist.
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}